.App {
  background-color: var(--app-background-color);
  border-radius: var(--app-border-radious);
  box-shadow: 3px 3px 3px #ccc;
  margin: 2em auto;
  width: min(100%, 900px);
  color: var(--app-text-color);
  padding: 1em;
  display: block;
}

.input-search,
.btn-clear {
  border-radius: var(--app-border-radious);
  padding: 1em;
  margin: var(--app-input-margin);
}

.input-search {
  border: 1px solid var(--app-border-color);
  background-color: var(--app-input-background-color);
}

.btn-clear {
  background-color: #ccc;
  border: none;
}

.content {
  display: flex;
}